<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.uni.kelani.roboelectrictestmobile">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.RoboelectricTestMobile">
        <activity
            android:name="com.uni.kelani.roboelectrictestmobile.SecondActivity"
            android:exported="false"
            android:label="@string/title_activity_second"
            android:theme="@style/Theme.RoboelectricTestMobile.NoActionBar" />
        <activity
            android:name="com.uni.kelani.roboelectrictestmobile.MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.RoboelectricTestMobile.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>